* {
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    background-color: #434955;
}

#mainhome {
    width: 100%;
}

#mainhome div {
    display: flex;
    justify-content: center;
}

#mainhome div div{
    display: flex;
    flex-direction: column;
}

#mainhome-diva {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-end;
}

#mainhome-diva h1 {
    color: white;
    font-size: 40px;
}

#mainhome-diva :nth-child(5), #mainhome-diva :nth-child(6) {
    color: #e18a23;
}

#mainhome-divb {
    width: 80%;
    align-items: flex-end;
    margin-right: -90px;
}
#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .brick {
    position: absolute;
    width: 60px;
    height: 30px;
    background: url('brick-texture.jpg') no-repeat center center/cover;
    border: 1px solid #b22222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }