* {
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    background-color: #434955;
}

#mainhome {
    width: 100%;
}

#mainhome div {
    display: flex;
    justify-content: center;
}

#mainhome div div{
    display: flex;
    flex-direction: column;
}

#mainhome-diva {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-end;
}

#mainhome-diva h1 {
    color: white;
    font-size: 40px;
}

#mainhome-diva :nth-child(5), #mainhome-diva :nth-child(6) {
    color: #e18a23;
}

#mainhome-divb {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-right: -90px;
    height: 80vh;
    justify-content: center;
}
